.block {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.block.layout {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1001px) {
  .block.layout {
    min-height: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .block.layout {
    position: sticky;    
    min-height: 761px;
  }
}
.block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block1.layout {
  position: absolute;
  height: 100%;
  width: 748px;
  right: -150px;
  z-index: 1;
}

@media screen and (min-width: 1001px) {
  .block1.layout {
    position: absolute;  
    height: 100%;
    width: 748px;
    margin: 100px 0px 0px 0px;
  }
}

@media screen and (max-width: 1000px) {
  .block1.layout {
    position: sticky;    
    height: 355px;
    width: 100%;
    margin: -130px 0px 0px 0px;
  }
}

.decorator.layout {
  position: absolute;
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 1001px) {
  .decorator.layout {
    height: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .decorator.layout {
    height: 367px;
    max-width: 364px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex.layout1 {
  position: relative;
  flex-grow: 1;
  z-index: 2;
}

.block3 {
  display: flex;
  flex-direction: column;
  background-color: #223a59;
  box-shadow: 0px 4px 20px 12px rgba(0, 0, 0, 0.2470588235);
}

.block3.layout {
  position: relative;
  height: 100px;
}

.flex1 {
  display: flex;
}

.flex1.layout {
  position: absolute;
  top: 29px;
  height: 42px;
  left: 43px;
  width: 277px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 44px;
}

.icon2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon2.layout {
  position: relative;
  height: 42px;
  width: 44px;
  min-width: 44px;
}

.flex-spacer {
  flex: 0 1 22px;
}

.flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}

.icon1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon1.layout {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: 12px 0px 0px;
}

.flex-spacer1 {
  flex: 0 1 6px;
}

.flex-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 26px;
}

.image6 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image6.layout {
  position: relative;
  height: 29px;
  width: 26px;
  min-width: 26px;
  margin: 12px 0px 1px;
}

.flex-spacer2 {
  flex: 0 1 5px;
}

.flex-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 31px;
}

.icon {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon.layout {
  position: relative;
  height: 30px;
  width: 31px;
  min-width: 31px;
  margin: 12px 0px 0px;
}

.flex-item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px;
}

.image5 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image5.layout {
  position: relative;
  height: 40px;
  width: 5px;
  min-width: 5px;
  margin: 1px 0px;
}

.flex-item5 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 22px;
}

.image4 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image4.layout {
  position: relative;
  height: 30px;
  width: 22px;
  min-width: 22px;
  margin: 12px 0px 0px;
}

.flex-spacer3 {
  flex: 0 1 4px;
}

.flex-item6 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 32px;
}

.image3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image3.layout {
  position: relative;
  height: 30px;
  width: 32px;
  min-width: 32px;
  margin: 12px 0px 0px;
}

.flex-spacer4 {
  flex: 0 1 2px;
}

.flex-item7 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 17px;
}

.image1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image1.layout {
  position: relative;
  height: 41px;
  width: 17px;
  min-width: 17px;
  margin: 0px 0px 1px;
}

.flex-item8 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 19px;
}

.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image2.layout {
  position: relative;
  height: 38px;
  width: 19px;
  min-width: 19px;
  margin: 4px 0px 0px;
}

.flex1.layout2 {
  position: absolute;
  top: 35px;
  height: 30px;
  width: 714px;
  right: 26px;
}

.flex-item9 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 566px;
}

.block4 {
  display: flex;
}

.block4.layout {
  position: relative;
  flex-grow: 1;
  margin: 3px 0px;
}

.block4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 56px;
}

.image7 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image7.layout {
  position: relative;
  height: 17px;
  width: 55px;
  min-width: 55px;
  margin: 4px 0px 3px 1px;
}

.block4-spacer {
  flex: 0 1 28px;
}

.subtitle4 {
  display: flex;
  justify-content: flex-end;
  font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #5fb5e7;
  text-align: right;
  letter-spacing: 0px;
}

.subtitle4.layout {
  position: relative;
  flex: 0 0 auto;
}

.block4-spacer1 {
  flex: 0 1 27px;
}

.subtitle2 {
  display: flex;
  justify-content: flex-end;
  font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #fafafa;
  text-align: right;
  letter-spacing: 0px;
}

.subtitle2.layout {
  position: relative;
  flex: 0 0 auto;
  transition-duration: 0.4s;
}

.subtitle2.layout:hover {
  color: #5FB5E7;
}

.flex-spacer5 {
  flex: 0 1 26px;
}

.flex-item10 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 122px;
}

.flex1.layout1 {
  position: relative;
  flex-grow: 1;
}

.flex-item11 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}

.icon1.layout1 {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.flex-spacer6 {
  flex: 0 1 18px;
}

.flex-spacer7 {
  flex: 0 1 14px;
}

.cover-block2 {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.2470588235);
  border-radius: 40px 40px 40px 40px;
}

.cover-block2.layout {
  position: relative;
  width: 50%;
  margin: 120px 43.4% 0px 6.6%;
}
@media screen and (min-width: 1001px) {
  .cover-block2.layout {
    width: 50%;
    margin: 120px 43.4% 0px 6.6%;
  }
}

@media screen and (max-width: 1000px) {
  .cover-block2.layout {
    width: 87.4%;
    margin: 80px 0px 0px 6.6%;
  }
}
.flex.layout {
  position: relative;
  flex-grow: 1;
  width: 88.75%;
  margin: 51px 6.39% 39px 4.86%;
}

.hero-title {
  display: flex;
  align-items: center;
  font: 700 60px/0.4 "Poppins", Helvetica, Arial, serif;
  color: #223a59;
  letter-spacing: 0px;
  line-height: 40px;
}

.hero-title.layout {
  position: relative;
  margin: 0px 14px 0px 0px;
}

@media screen and (min-width: 1001px) {
  .hero-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 40px;
  }
}
.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: italic 500 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #5fb5e7;
  text-align: right;
  letter-spacing: 0px;
  line-height: 15px;
}

.subtitle.layout {
  position: relative;
  margin: 34px 0px 0px;
}

@media screen and (min-width: 1001px) {
  .subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .subtitle {
    font-size: 15px;
  }
}

.subtitle3 {
  display: flex;
  align-items: center;
  font: 500 23px/1.3 "Poppins", Helvetica, Arial, serif;
  color: #252323;
  letter-spacing: 0px;
}

.subtitle3.layout {
  position: relative;
  margin: 25px 10px 0px 0px;
}
@media screen and (min-width: 1001px) {
  .subtitle3 {
    font-size: 23px;
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .subtitle3 {
    font-size: 12px;
    text-align: justify;
  }
}

.cover-block1 {
  display: flex;
  flex-direction: row;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
}

.cover-block1.layout {
  position: relative;
  margin: 51px 1px 0px 0px;
}

.cover-block {
  display: flex;
  flex-direction: column;
  background-color: #223a59;
  border-radius: 15px 15px 15px 15px;
}

.cover-block.layout {
  position: relative;
  align-items: center;
  flex-grow: 1;
  margin: 0px 0% 0px 60%;
}

.inputbox {
  font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
  position: absolute;
  border-radius: 15px 15px 15px 15px;
  border-color: white;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.inputbox:focus {
  outline: none !important;
}

@media screen and (min-width: 1001px) {
  .inputbox {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .inputbox {
    font-size: 8px;
  }
}

.subtitle21 {
  display: flex;
  font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #fafafa;
  letter-spacing: 0px;
  background-color: #223a59;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
}

.subtitle21.layout {
  position: relative;
  align-items: center;
  flex-grow: 1;
  height: 50px;
  margin: 0px 0% 0px 60%;
  transition-duration: 0.4s;
}

.subtitle21.layout:hover {
  color: #5FB5E7;
  background-color:rgb(206, 206, 206);
}
@media screen and (min-width: 1001px) {
  .subtitle21 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .subtitle21 {
    font-size: 10px;
  }
}
.subtitle50 {
  display: flex;
  justify-content: flex-end;
  font: 20px/1.2 "Poppins", Helvetica, Arial, serif; 
  color: rgb(206, 206, 206);
  text-align: right;
  letter-spacing: 0px;
}

.subtitle50.layout {
  position: relative;
  flex: 0 0 auto;
}