

.contenedor {
    width: 80% auto;
    max-width: 80em;
    padding: 1em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .contenedor .ul {
    padding: 1em;
    width: auto;
    max-width: 80em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contenedor .li {
  
    width: auto;
    max-width: 100em;
    padding: 2em;
    margin: 0.5em 1em 0.5em 0.5em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .contenedor .li.activo {
    background-color: #444c51;
    color: white;
  }
  
  .contenedor .subcontenedor {
    margin: auto;
    min-height: 5vh;
    position: relative;
    width: auto;
    max-width: 100em;
    padding: 2em;
    margin: 0.5em 1em 0.5em 0.5em;
  }
  
  .contenedor .bloque {
    
    margin: 0em;
    padding: 0em;
    width: 30em;
    position: absolute;
    top: 1em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .contenedor .bloque.activo {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  
  
  
  @media (max-width: 768px) {
    .container-fluid-banner-principal{
      display: none;
    }
    .close-barra {
      display: none;
    }
  }
     */
  
  
  
  .cursos-section .card {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    /* background-color: #fff; */
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .cursos-section .card:hover {
    -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  
  .cursos-section .card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
  }
  
  .cursos-section .card:hover .card__info {
    background-color: transparent;
    position: relative;
  }
  
  .cursos-section .card:hover .card__info-hover {
    opacity: 1;
  }
  
  .cursos-section {
    background-color: #d9d9d9;
    padding: 30px 0;
  }
  
  .nosotros-section {
    background: #5FB5E7;
    padding: 60px 0;
  }
  
  .nosotros-sec {
    background: #223A59;
    padding: 60px 0;
  }
  
  
  .titulo {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    position: relative;
  }
  
  .titulo1 {
    font-size: 40px;
    color: #297AF1;
    font-weight: bold;
    position: relative;
  }
  
  .titulo.light {
    color: #1a1a1b;
  }
  
  .row cards{
  background-color: #fff;
  }
  
  .fotos-sec .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
  }
  
  .card__img--hover {
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
  }
  
  .card__info {
    z-index: 2;
    /* background-color: #fff; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
  }
  
  .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
  }
  
  .card__info {
    z-index: 2;
    background-color: #223a59;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
  }
  
  .cursos-section .card:hover .card__info {
    background-color: transparent;
    position: relative;
  }
  
  .cursos-section .card:hover .card__info-hover {
    opacity: 1;
  }
  
  .card__by {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }
  
  .cont-carta{
    width: 450px;
    height: 450px;
    margin: 30px auto;
    cursor: pointer;
    perspective: 1200px;
  }
  
  .cont-carta .carta{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
    /*--- Permite establecer el efecto 3D a todo los elementos hijos de '.carta' ---*/
  }
  
  .cont-carta:hover .carta{
    transform: rotateY(180deg);
  }
  
  .cont-carta .carta .cara{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    /*--- Permite ocultar la parte de atras de las Cartas ---*/ 
  
  }
  
  .cont-carta .carta .trasera{
    transform: rotateY(180deg);
    /*--- Permite rotar la carta(cara-Trasera) 180 grados en el eje Y ---*/ 
  }
  
  .cont-carta .carta .cara img{
    vertical-align: top;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  
  .btn-enlace,
  .btn-enlace-light {
    background: #0f1c3d;
    color: #fff;
    padding: 20px 40px;
    font-weight: bold;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 80px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .btn-enlace:hover,
  .btn-enlace-light:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    color: #fff;
  }
  
  .btn-enlace-light {
    background-color: transparent;
    padding: 20px 40px !important;
    font-weight: 400;
    font-size: 16px !important;
  }
  
  .btn-enlace-light:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    color: #000;
  }